<ion-header>
	<ion-navbar color="primary">
		<ion-title>Phiếu yêu cầu</ion-title>
	</ion-navbar>
</ion-header>


<ion-content>

	<div class="container" *ngIf="order && customerInfo">

		<!-- Header -->
		<div class="row">
			<div class="col-xs-5">
				<h5 class="text-left">Mã: {{order.OrderId}}</h5>
			</div>
			<div class="col-xs-7">
				<h5 class="text-left">Ngày: {{order.CreatedDateDisplay}}</h5>
			</div>
		</div>

		<!-- Body -->
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title text-primary" style="font-weight: bold">Thông tin khách hàng</h4>
			</div>
			<div class="panel-body">
				<form>
					<div class="form-group">
						<label for="FullName">Tên khách hàng:</label>
						<input type="text" class="form-control" id="FullName" [(ngModel)]="customerInfo.FullName" name="FullName">
					</div>
					<div class="form-group">
						<label for="Phonenumber">Số điện thoại:</label>
						<input type="text" class="form-control" id="Phonenumber" [(ngModel)]="customerInfo.PhoneNumber" name="PhoneNumber">
					</div>
					<div class="form-group">
						<label for="Address">Địa chỉ:</label>
						<textarea class="form-control" id="Address" [(ngModel)]="customerInfo.Address" name="Address"></textarea>
					</div>
					<div class="form-group">
						<label for="Note">Ghi chú:</label>
						<textarea class="form-control" id="Note" rows="3"></textarea>
					</div>
				</form>
			</div>
		</div>

		<!-- Order Detail -->
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title text-primary" style="font-weight: bold">Chi tiết dịch vụ</h4>
			</div>
			<table class="table table-bordered table-condensed">
				<thead>
					<tr>
						<th class="text-center">Dịch vụ</th>
						<th class="text-center">Giá tiền</th>
					</tr>
				</thead>
				<tbody>
					<ng-container *ngIf="services">
						<tr style="color: black !important" *ngFor="let service of services">
							<td class="text-left">
								{{service.Service}}
							</td>
							<td class="text-right">
								<span *ngIf="service.OrignalPrice > 0">
									{{service.Price}}
								</span>
								<span *ngIf="service.OrignalPrice === 0">
									Liên hệ nhà cung cấp
								</span>
							</td>
						</tr>
					</ng-container>
					<tr style="color: black !important">
						<td class="text-left">
							<strong>Tổng:</strong>
						</td>
						<td class="text-right">
							<strong>{{order.Total}}</strong>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>

</ion-content>
