<ion-header>

	<ion-navbar color="primary">
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Tìm kiếm</ion-title>
	</ion-navbar>

	<ion-toolbar color="primary">
		<ion-searchbar placeholder="Tìm kiếm dịch vụ" [(ngModel)]="searchKey" (keyup.enter)="search($event)"></ion-searchbar>
		<ion-buttons end>
			<button ion-button (click)="openRestaurantFilterPage()">
				<ion-icon name="options"></ion-icon>
			</button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>


<ion-content>
	<ion-grid no-padding fixed>
		<ion-row no-padding>
			<ion-col>
				<ion-card no-margin margin-bottom>
					<ion-item class="lightest-bg">
						<button ion-button round item-end color="primary" (click)="getCurentLocation()">
							<ion-icon name="locate"></ion-icon>
						</button>
						<h3 ion-text no-margin color="dark" class="fw500 no-margin">Vị trí hiện tại:</h3>
						<span ion-text class="text-11x no-margin" color="primary">{{yourLocation}}</span>
						<button ion-button outline round item-end icon-right color="primary" (click)=" changeLocation()">
							Đổi vị trí
							<ion-icon name="locate"></ion-icon>
						</button>
					</ion-item>
				</ion-card>
			</ion-col>
		</ion-row>

		<div id="nearby-map" class="nearby-map">
			<agm-map [latitude]="lat" [longitude]="lng" [zoom]="12">
				<div *ngFor="let supplier of suppliersNearby">
					<agm-marker *ngFor="let branch of supplier.Branches" [latitude]="branch.Latitude" [longitude]='branch.Longitude'>
					</agm-marker>
				</div>
			</agm-map>
		</div>

		<ion-list ion-row padding-horizontal>
			<button ion-item ion-col *ngFor="let supplier of suppliersNearby" col-12 col-md-6 (click)="openSupplierDetail(supplier)">
				<ion-thumbnail item-start>
					<ng-container *ngIf="supplier.Avatar">
						<img [src]="supplier.Avatar">
					</ng-container>
					<ng-container *ngIf="!supplier.Avatar">
						<img src="https://dienlanhhoanggia.com/getattachment/d5ec3649-e3f1-4c91-8c5f-e57cf512210f//trang-chu/logo/dien-may-viet-long.aspx?width=&height=">
					</ng-container>
				</ion-thumbnail>
				<h3 ion-text color="dark" class="fw500">{{supplier.Name}}</h3>
				<h3>
					<ion-icon name="pin"></ion-icon> {{supplier.distance}} km
				</h3>
			</button>
		</ion-list>
	</ion-grid>

	<!--<button ion-button (click)="testFunction()">Test ne</button>-->
</ion-content>
