<ion-split-pane when="lg">
	<ion-menu side="left" id="authenticated" [content]="content" class="menu-bg">
		<ion-header>
			<ion-toolbar class="user-profile">
				<div class="user-profile">
					<ion-list no-margin>
						<ion-item>
							<ion-avatar item-left>
								<img src="http://acsa-capstone.azurewebsites.net/avatar/customer/default.png">
							</ion-avatar>
							<h2 ion-text class="text-white fw700 text-15x">
								{{userName}}
							</h2>
							<button ion-button icon-left round color="primary" menuClose (click)="openPage(accountMenuItems[1])">
								<ion-icon [name]="accountMenuItems[1].icon"></ion-icon>
								{{accountMenuItems[1].title}}
							</button>
						</ion-item>
					</ion-list>
				</div>
			</ion-toolbar>
		</ion-header>
		<ion-content color="dark" class="profile-bg">
			<button ion-button icon-left full color="secondary" no-margin menuClose (click)="openPage(accountMenuItems[2])">
				<ion-icon [name]="accountMenuItems[2].icon"></ion-icon>
				{{accountMenuItems[2].title}}
			</button>
			<ion-list class="user-list">
				<button menuClose ion-item (click)="openPage(homeItem)">
					<ion-icon item-left name="home"></ion-icon>
					Trang chủ
				</button>
				<button menuClose ion-item (click)="openPage(messagesItem)">
					<ion-icon item-left name="notifications"></ion-icon>
					Thông báo
					<ion-badge color="dark" *ngIf="numberNotification() > 0">
						{{numberNotification()}}
					</ion-badge>
				</button>
				<button menuClose ion-item (click)="openPage(chatItem)">
					<ion-icon item-left name="chatboxes"></ion-icon>
					Tin nhắn
					<ion-badge color="dark" *ngIf="setNumberNotificationChat() > 0" class="notifications-badge">
						{{setNumberNotificationChat()}}
					</ion-badge>
				</button>
				<button menuClose ion-item (click)="openPage(cartItem)">
					<ion-icon item-left name="cart"></ion-icon>
					Lịch sử
				</button>
			</ion-list>
		</ion-content>
	</ion-menu>
	<ion-nav [root]="rootPage" main #content swipeBackEnabled="false"></ion-nav>
</ion-split-pane>
