.about-header {
  padding: 16px;
  width: 100%;
  min-height: 150px;
  text-align: center;
	img {
	  max-width: 180px;
	}
	p {
	  color: color($colors, primary);
	}
	ion-icon {
	  color: color($colors, primary);
	  width: 20px;
	}
}



.md,
.wp {
  .about-info [text-right] {
    margin-right: 0;
  }
}

.ios .about-info ion-icon {
  width: auto;
  margin-right: 10px;
}
