<ion-header>
	<ion-navbar color="primary">
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>
			<span ion-text>Thông báo</span>
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content class="lightest-bg">

	<ion-grid no-padding fixed>
		<ion-row no-padding>
			<ion-col>
				<ion-card *ngIf="!messages.length" class="primary-bg" margin-top>
					<ion-card-content>
						<p text-center class="text-white">Bạn không có thông báo nào !!!</p>
					</ion-card-content>
				</ion-card>

				<ion-list>
					<ion-item-sliding *ngFor="let doc of docId | async">
							<button ion-item (click)="itemTapped({'id': doc.id, 'orderId': doc.data.OrderId})" [ngClass]="{'light-bg': !doc.data.SeenByCustomer}">
								<h2 [ngClass]="{'fw700': !doc.data.SeenByCustomer}">
									<ion-icon name="mail" color="primary" *ngIf="!doc.data.SeenByCustomer"></ion-icon>
									<ion-icon name="mail-open" color="primary" *ngIf="doc.data.SeenByCustomer"></ion-icon>
									{{doc.data.MessageBody}}
								</h2>
								<p>{{doc.data.Date}}</p>
							</button>
							<ion-item-options>
								<button ion-button color="danger" (click)="deleteItem(message)">Xóa</button>
							</ion-item-options>
					</ion-item-sliding>
				</ion-list>
			</ion-col>
		</ion-row>
	</ion-grid>

</ion-content>
