<ion-header>
	<ion-navbar color="primary">
		<ion-title>
			<div *ngIf="supplier">
				{{supplier.Name}}
			</div>
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content class="lightest-bg">
	<div *ngIf="supplier">{{supplier.Name}}<br>{{supplier.PhoneNumber}}
		<div text-center>
			<ion-buttons class="full-width">
				<button ion-button (click)="openBookingService({'supId': supplier.SupplierId, 'supName': supplier.Name})">
					<ion-icon name="calendar"></ion-icon>&nbsp;&nbsp;Đặt dịch vụ
				</button>
				<a href="tel:{{supplier.PhoneNumber}}">
					<button ion-button>
						<ion-icon name="call"></ion-icon>
						&nbsp;&nbsp;Gọi
					</button>
				</a>
				<button ion-button (click)="openChatDetail({'supId': supplier.SupplierId, 'supName': supplier.Name})">
					<ion-icon name="chatboxes"></ion-icon>&nbsp;&nbsp;Nhắn tin
				</button>
				<div *ngIf="feedbackFlag == false">
					<button ion-button (click)="openFeedbackDetail({'supId': supplier.SupplierId, 'supName': supplier.Name})">
						<ion-icon name="chatboxes"></ion-icon>&nbsp;&nbsp;Đánh giá
					</button>
				</div>

			</ion-buttons>
		</div>
	</div>
</ion-content>
