.page-feedback-detail {
  .item {
	padding-left: 0;
	&.item-block {
	  .item-inner {
		border-style: solid;
		border-width: 1px;
		border-color: transparent;
		border-bottom-color: rgba(205, 30, 55, .2);
	  }
	}
  }
}
.isRated {
  color: gold;
}

