<ion-header>
	<ion-navbar color="primary">
		<ion-buttons start>
			<button ion-button round (click)="closeModal()">
				<ion-icon name="close"></ion-icon>
			</button>
		</ion-buttons>
		<ion-title>
			<span ion-text>Đặt dịch vụ</span>
		</ion-title>
	</ion-navbar>
</ion-header>


<ion-content class="lightest-bg">

	<form>

		<ion-card *ngIf="customer">
			<ion-card-header color="primary" style="text-align: center; background-color: #ebebe0">
				<strong>
					Thông tin khách hàng
				</strong>
			</ion-card-header>
			<ion-card-content>
				<ng-container>
					<ion-grid no-padding fixed>
						<ion-row no-padding>
							<ion-col>
								<div>
									<ion-list>
										<ion-item>
											<ion-label color="dark" stacked>Họ tên:</ion-label>
											<ion-input type="text" [(ngModel)]="customer.FullName" name='FullName'></ion-input>
										</ion-item>
										<ion-item>
											<ion-label color="dark" stacked>Số điện thoại:</ion-label>
											<ion-input type="text" [(ngModel)]="customer.PhoneNumber" name='PhoneNumber'></ion-input>
										</ion-item>
										<ion-item>
											<ion-label color="dark" stacked>Địa chỉ:</ion-label>
											<ion-textarea [(ngModel)]="customer.Address" name='Address'></ion-textarea>
										</ion-item>
										<ion-item>
											<ion-label color="dark" stacked>Ngày đến sửa:</ion-label>
											<ion-datetime displayFormat="MM-DD-YYYY" [(ngModel)]="DayWork" name='DayWork'></ion-datetime>
										</ion-item>
										<ion-item>
											<ion-label color="dark" stacked>Thời gian đến sửa:</ion-label>
											<ion-datetime displayFormat="HH:mm" [(ngModel)]="TimeWork" name='TimeWork'></ion-datetime>
										</ion-item>
										<ion-item>
											<ion-label color="dark" stacked [(ngModel)]="Note" name='Note'>Ghi chú:</ion-label>
											<ion-textarea></ion-textarea>
										</ion-item>
									</ion-list>
								</div>
							</ion-col>
						</ion-row>
					</ion-grid>
				</ng-container>
			</ion-card-content>
		</ion-card>

		<ion-card>
			<ion-card-header color="primary" style="text-align: center; background-color: #ebebe0">
				<strong>
					Dịch vụ
				</strong>
			</ion-card-header>
			<ion-card-content>
				<ng-container>
					<ion-grid no-padding fixed>
						<ion-row no-padding>
							<ion-col>
								<div>
									<ion-list *ngFor="let service of services">

										<ion-item>
											<ion-label> {{service.Name}} </ion-label>
											<ion-checkbox name="services" [(ngModel)]="service.checked"></ion-checkbox>
										</ion-item>

									</ion-list>
								</div>
							</ion-col>
						</ion-row>
					</ion-grid>
				</ng-container>
			</ion-card-content>
		</ion-card>

		<!-- <ion-list *ngFor="let service of services">

			<ion-item>
				<ion-label> {{service.Name}} </ion-label>
				<ion-checkbox name="services" [(ngModel)]="service.checked"></ion-checkbox>
			</ion-item>

		</ion-list> -->

		<button ion-button block color="primary" (click)="sendBookingRequest()">Xác nhận</button>

	</form>

</ion-content>
