<ion-header>
	<ion-navbar color="primary">
		<ion-buttons start>
			<button ion-button round (click)="closeModal()">
				<ion-icon name="close"></ion-icon>
			</button>
		</ion-buttons>
		<ion-title>
			<span ion-text>Đặt dịch vụ</span>
		</ion-title>
	</ion-navbar>
</ion-header>


<ion-content class="lightest-bg">

	<form>

		<ion-card *ngIf="customer">
			<ion-card-header color="primary" style="text-align: center; background-color: #ebebe0">
				<strong>
					Thông tin khách hàng
				</strong>
			</ion-card-header>
			<ion-card-content>
				<ng-container>
					<ion-grid no-padding fixed>
						<ion-row no-padding>
							<ion-col>
								<div>
									<ion-list>
										<ion-item>
											<ion-label color="dark" stacked>*Họ tên:</ion-label>
											<ion-input type="text" [(ngModel)]="customer.FullName" name='FullName'></ion-input>
										</ion-item>
										<ion-item>
											<ion-label color="dark" stacked>*Số điện thoại:</ion-label>
											<ion-input type="text" [(ngModel)]="customer.PhoneNumber" name='PhoneNumber'></ion-input>
										</ion-item>
										<ion-item>
											<ion-label color="dark" stacked>*Địa chỉ:</ion-label>
											<ion-textarea [(ngModel)]="customer.Address" name='Address'></ion-textarea>
										</ion-item>
										<ion-item>
											<ion-label color="dark" stacked>*Ngày đến sửa:</ion-label>
											<ion-datetime displayFormat="DD-MM-YYYY" [(ngModel)]="DayWork" name='DayWork' [min]="MinDayWork"></ion-datetime>
										</ion-item>
										<ion-item>
											<ion-label color="dark" stacked>*Thời gian đến sửa:</ion-label>
											<ion-datetime displayFormat="HH:mm" [(ngModel)]="TimeWork" name='TimeWork' hourValues="8,9,10,11,12,13,14,15,16,17,18"
											 minuteValues="0,15,30,45"></ion-datetime>
										</ion-item>
										<ion-item>
											<ion-label color="dark" stacked>Ghi chú:</ion-label>
											<ion-textarea [(ngModel)]="Note" name='Note'></ion-textarea>
										</ion-item>
									</ion-list>
								</div>
							</ion-col>
						</ion-row>
					</ion-grid>
				</ng-container>
			</ion-card-content>
		</ion-card>

		<ng-container *ngIf="services">
			<ng-container *ngFor="let service of services">
				<ion-card>
					<ion-card-header color="primary" style="text-align: center; background-color: #ebebe0">
						<strong>
							{{service.Name}}
						</strong>
					</ion-card-header>
					<ion-card-content>
						<ng-container>
							<ion-grid no-padding fixed>
								<ion-row no-padding>
									<ion-col>
										<div>
											<ion-list *ngFor="let el of service.Services">

												<ion-item>
													<ion-label> {{el.Name}} </ion-label>
													<ion-checkbox name="services" [(ngModel)]="el.checked"></ion-checkbox>
												</ion-item>
												<ng-container *ngIf="el.checked">
													<ion-row>
														<ion-col text-right col-5>
															<p>
																Số lượng:
															</p>
														</ion-col>
														<ion-col text-center col-2>
															<ion-icon name="remove-circle" class="text-22x" tappable (click)="minusQuantity(el)" [hidden]="el.Quantity < 2"
															 color="secondary"></ion-icon>
														</ion-col>
														<ion-col text-center col-3>
															<h2 ion-text color="primary" class="text-18x">
																<span>{{el.Quantity}}</span>
															</h2>
														</ion-col>
														<ion-col text-center col-2>
															<ion-icon name="add-circle" class="text-22x" tappable (click)="plusQuantity(el)" color="secondary"></ion-icon>
														</ion-col>
													</ion-row>
												</ng-container>

											</ion-list>
										</div>
									</ion-col>
								</ion-row>
							</ion-grid>
						</ng-container>
					</ion-card-content>
				</ion-card>
			</ng-container>
		</ng-container>

		<br />
		<button ion-button block color="primary" (click)="goToReViewBooking()">Tiếp tục</button>
		<br />

	</form>

</ion-content>
