<!-- -->
<ion-header>
	<ion-navbar color="primary">
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>
			<span ion-text>Thanh toán</span>
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content class="checkout lightest-bg">

	<ion-grid no-padding fixed>
		<ion-row no-padding>
			<ion-col>
				<ion-card>
					<ion-card-content class="checkout-info" no-padding>

						<ion-list no-margin>
							<div ion-item *ngFor="let order of checkoutData">
								<!-- (click)="itemTapped(favorite)" -->
								<ion-thumbnail item-left>
									<img src="{{order.order.picture}}"/>
								</ion-thumbnail>
								<h2 ion-text color="dark" class="fw700">{{order.order.name}}</h2>
								<p ion-text color="primary">{{order.order.ingredients}}</p>
								<div item-right>
									<ion-badge>{{ order.order.price * order.qtd | currency }}</ion-badge>
								</div>
							</div>
						</ion-list>

						<ion-grid padding>
							<ion-row>
								<ion-col col-8>

									<ion-card class="green-bg" no-margin text-center>
										<ion-card-content>
											<span ion-text class="text-white">Total</span>
											<h2 ion-text no-margin class="fw700 text-white">{{ totalVal | currency
												}}</h2>
										</ion-card-content>
									</ion-card>
								</ion-col>
								<ion-col col-4 no-padding>
									<span ion-text color="primary" class="text-11x">Mã đơn hàng:</span>
									<br/>
									<ion-badge color="light" class="text-primary">003454890</ion-badge>
									<div>
										<span ion-text color="primary" class="text-11x">Ngày:</span>
										<br/>
										<ion-badge color="light" class="text-primary">30-30-30</ion-badge>
									</div>
								</ion-col>
							</ion-row>
						</ion-grid>
					</ion-card-content>
				</ion-card>
				<a target="_blank" href="https://www.nganluong.vn/button_payment.php?receiver=jinnguyen1200@gmail.com&product_name=12345&price=10000&comments=Test" style="text-decoration: none">
					<img src="https://www.nganluong.vn/css/newhome/img/button/safe-pay-3.png"border="0" />
					<button ion-button color="secondary" margin-top icon-right full tappable>
						Confirm
						<ion-icon name="cash"></ion-icon>
					</button>
				</a>

				<!--payment info-->
				<div padding>
					<h3>Payment Methods</h3>

					<ion-list radio-group>
						<ion-item class="lightest-bg">
							<ion-label>Thanh toán sau khi sửa chữa</ion-label>
							<ion-radio checked (ionSelect)="getRadioValue(1)"></ion-radio>
						</ion-item>
						<ion-item class="lightest-bg">
							<ion-label>Thanh toán trực tuyến</ion-label>
							<ion-radio (ionSelect)="getRadioValue(2)"></ion-radio>
						</ion-item>
					</ion-list>

					<div *ngIf="checkoutOnline == true">
						<ion-card no-margin margin-vertical class="full-width">
							<ion-card-content>
								<form [formGroup]="onYourCheckoutForm" class="list-form">
									<ion-list margin-bottom>

										<ion-item>
											<ion-label color="primary" stacked>Nội dung:</ion-label>
											<ion-textarea type="text" maxLength="500" rows="8" placeholder="Nhấn vào đây..."
														  formControlName="feedbackContent"></ion-textarea>
										</ion-item>
										<p ion-text color="danger" class="text-1x has-error" *ngIf="isFieldInvalid('feedbackContent', onYourCheckoutForm)">Bắt buộc</p>

										<button ion-button block color="dark" (click)="sendData()" [disabled]="!onYourCheckoutForm.valid">Tiếp tục</button>
									</ion-list>
								</form>
							</ion-card-content>

						</ion-card>
					</div>


					<!--submit button-->
					<!--<button ion-button color="secondary" margin-top icon-right full tappable (click)="send()">-->
						<!--Thanh toán-->
						<!--<ion-icon name="cash"></ion-icon>-->
					<!--</button>-->

				</div>
			</ion-col>
		</ion-row>
	</ion-grid>

</ion-content>
