<!-- -->
<ion-header>
	<ion-navbar color="primary">
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>
			<span ion-text>Thanh toán</span>
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content class="checkout lightest-bg">

	<ion-grid no-padding fixed>
		<ion-row no-padding>
			<ion-col>
				<ion-card>
					<ion-card-content class="checkout-info" no-padding>

						<ion-grid padding>
							<ion-row>
								<ion-col col-8>

									<ion-card class="green-bg" no-margin text-center>
										<ion-card-content>
											<span ion-text class="text-white">Tổng cộng</span>
											<h2 ion-text no-margin class="fw700 text-white">{{order.Total}}</h2>
										</ion-card-content>
									</ion-card>
								</ion-col>
								<ion-col col-4 no-padding>
									<span ion-text color="primary" class="text-11x">Mã đơn hàng:</span>
									<br/>
									<ion-badge color="light" class="text-primary">{{order.OrderId}}</ion-badge>
									<div>
										<span ion-text color="primary" class="text-11x">Ngày:</span>
										<br/>
										<ion-badge color="light" class="text-primary">{{order.CreatedDateDisplay}}
										</ion-badge>
									</div>
								</ion-col>
							</ion-row>
						</ion-grid>
					</ion-card-content>
				</ion-card>

				<!--payment info-->
				<div *ngIf="order.PaymentPrice !== null" padding>
					<h3>Phương thức thanh toán</h3>

					<ion-list radio-group>
						<ion-item class="lightest-bg">
							<ion-label>Thanh toán sau khi sửa chữa</ion-label>
							<ion-radio checked (ionSelect)="getRadioValue(1)"></ion-radio>
						</ion-item>
						<ion-item class="lightest-bg">
							<ion-label>Thanh toán trực tuyến</ion-label>
							<ion-radio (ionSelect)="getRadioValue(2)"></ion-radio>
						</ion-item>
					</ion-list>

					<div *ngIf="checkoutOnline == true">
						<div *ngFor="let post of posts | async">
							<button ion-button color="secondary" margin-top icon-right full tappable
									(click)="openNganluong(post.id)">
								Thanh toánc
								<ion-icon name="cash"></ion-icon>
							</button>
						</div>
					</div>

					<div *ngIf="checkoutOnline != true">
						<button ion-button color="secondary" margin-top icon-right full tappable (click)="openOrderResult(order.OrderId)">
							Tiếp tục
							<ion-icon name="cash"></ion-icon>
						</button>
					</div>

				</div>

				<div *ngIf="order.PaymentPrice === null" padding>
					<button ion-button color="secondary" margin-top icon-right full tappable (click)="openOrderResult()">
						Tiếp tục
					</button>
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>

</ion-content>
