<ion-content padding class="profiles-bg">
	<div class="auth-content">

		<!-- Đăng nhập và Đăng ký -->
		<div padding-vertical>
			<ion-segment [(ngModel)]="auth" color="light">
				<ion-segment-button value="login">
					ĐĂNG NHẬP
				</ion-segment-button>
				<ion-segment-button value="register">
					ĐĂNG KÝ
				</ion-segment-button>
			</ion-segment>
		</div>
		<!--  -->

		<div [ngSwitch]="auth">

			<!-- Đăng nhập -->
			<div id="loginForm" *ngSwitchCase="'login'">
				<form [formGroup]="onLoginForm" class="list-form">
					<ion-item>
						<ion-label floating>
							<ion-icon name="person" item-start class="text-white"></ion-icon>
							Tên đăng nhập:
						</ion-label>
						<ion-input type="text" formControlName="username"></ion-input>
					</ion-item>
					<p ion-text color="danger" class="text-12x has-error" *ngIf="isFieldInvalid('username', onLoginForm)">
						Tên đăng nhập không được để trống
					</p>
					<ion-item>
						<ion-label floating>
							<ion-icon name="lock" item-start class="text-white"></ion-icon>
							Mật khẩu:
						</ion-label>
						<ion-input type="password" formControlName="password"></ion-input>
					</ion-item>
					<p ion-text color="danger" class="text-12x has-error" *ngIf="isFieldInvalid('password', onLoginForm)">
						Mật khẩu không đươc để trống
					</p>
				</form>
				<div margin-top>
					<button ion-button icon-start block color="secondary" (click)="login()" [disabled]="!onLoginForm.valid">
						<ion-icon name="log-in"></ion-icon>
						ĐĂNG NHẬP
					</button>
				</div>
			</div>
			<!--  -->

			<!-- Đăng ký -->
			<div id="registerForm" *ngSwitchCase="'register'">
				<form [formGroup]="onRegisterForm" class="list-form">
					<ion-item>
						<ion-label floating>
							<ion-icon name="person" item-start class="text-white"></ion-icon>
							Tên đăng nhập:
						</ion-label>
						<ion-input type="text" formControlName="username"></ion-input>
					</ion-item>
					<p ion-text color="danger" class="text-12x has-error" *ngIf="isFieldInvalid('username', onRegisterForm)">
						Tên đăng nhập không được để trống
					</p>
					<ion-item>
						<ion-label floating>
							<ion-icon name="mail" item-start class="text-white"></ion-icon>
							Email:
						</ion-label>
						<ion-input type="email" formControlName="email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"></ion-input>
					</ion-item>
					<p ion-text color="danger" class="text-12x has-error" *ngIf="isFieldInvalid('email', onRegisterForm)">
						Email không đươc để trống
					</p>
					<ion-item>
						<ion-label floating>
							<ion-icon name="lock" item-start class="text-white"></ion-icon>
							Mật khẩu:
						</ion-label>
						<ion-input type="password" formControlName="password"></ion-input>
					</ion-item>
					<p ion-text color="danger" class="text-12x has-error" *ngIf="isFieldInvalid('password', onRegisterForm)">
						Mật khẩu không đươc để trống
					</p>
				</form>
				<div margin-top>
					<button ion-button block color="secondary" (click)="register()" [disabled]="!onRegisterForm.valid">
						ĐĂNG KÝ
					</button>
				</div>
			</div>
			<!--  -->
		</div>

	</div>
</ion-content>
