<ion-header>
	<ion-navbar color="primary">
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>
			<span ion-text class="fw700">ACS</span><span ion-text class="fw300"> app</span>
		</ion-title>
		<ion-buttons end>
			<button ion-button (click)="presentNotifications($event)">
				<ion-icon name="notifications"></ion-icon>
			</button>
			<button ion-button (click)="openCart()">
				<ion-icon name="cart"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>

	<ion-toolbar color="primary">
		<ion-searchbar [(ngModel)]="searchKey" (keyup.enter)="search($event)"
					   (ionCancel)="onCancel($event)"></ion-searchbar>
		<ion-buttons end>
			<button ion-button (click)="openRestaurantFilterPage()">
				<ion-icon name="options"></ion-icon>
			</button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-grid no-padding fixed>
		<ion-row no-padding>
			<ion-col>
				<ion-card no-margin margin-bottom>
					<ion-item class="lightest-bg">
						<button ion-button round item-end color="primary" (click)="getCurentLocation()">
							<ion-icon name="locate"></ion-icon>
						</button>
						<h3 ion-text no-margin color="dark" class="fw500 no-margin">Vị trí hiện tại:</h3>
						<span ion-text class="text-11x no-margin" color="primary">{{yourLocation}}</span>
						<button ion-button outline round item-end icon-right color="primary"
								(click)=" changeLocation()">
							Đổi vị trí
							<ion-icon name="locate"></ion-icon>
						</button>
					</ion-item>
				</ion-card>
			</ion-col>
		</ion-row>

		<div id="nearby-map" class="nearby-map">
			<agm-map [latitude]="lat" [longitude]="lng" [zoom]="12">
				<div *ngFor="let supplier of suppliersNearby">
					<!-- <agm-marker *ngFor="let restaurant of restaurants; let i = index" [latitude]="restaurant.lat" [longitude]="restaurant.long"> -->
					<agm-marker *ngFor="let branch of supplier.Branches" [latitude]="branch.Latitude"
								[longitude]='branch.Longitude'>
						<!-- <agm-info-window>
							<img src="{{restaurant.thumbnail}}" class="mw240" tappable (click)="openRestaurantDetail(restaurant)">
							<h3 tappable (click)="openRestaurantDetail(restaurant)">
								<strong>{{restaurant.title}}</strong>
							</h3>
							<p ion-text tappable (click)="openRestaurantDetail(restaurant)" color="primary" no-margin>
								{{restaurant.city}}, {{restaurant.state}} •
								<span ion-text class="fw700">{{ restaurant.price }}</span>
							</p>
						</agm-info-window> -->
					</agm-marker>
				</div>
			</agm-map>
		</div>

		<!-- <ion-list ion-row padding-horizontal>
			<button ion-item ion-col *ngFor="let restaurant of restaurants" (click)="openRestaurantDetail(restaurant)" col-12 col-md-6>
			<button ion-item ion-col *ngFor="let restaurant of restaurants" col-12 col-md-6>
				<ion-thumbnail item-start>
					<img src="{{restaurant.thumbnail}}">
					<img src="https://dienlanhhoanggia.com/getattachment/d5ec3649-e3f1-4c91-8c5f-e57cf512210f//trang-chu/logo/dien-may-viet-long.aspx?width=&height=">
				</ion-thumbnail>
				<h3 ion-text color="dark" class="fw500">{{restaurant.title}}</h3>
				<p ion-text class="text-12x"><span ion-text color="secondary" class="fw700">{{restaurant.tags}}</span> ∙ <span
					 ion-text color="primary">{{ restaurant.price }}</span></p>
				<p ion-text class="text-12x">1 mile<sup>sq</sup> ∙ 30 - 60min</p>
				<ion-badge class="white-bg text-secondary" item-end>
					<ion-icon name="star"></ion-icon>
					{{ restaurant.rating | number:'1.1' }}
				</ion-badge>
			</button>
		</ion-list> -->

		<ion-list ion-row padding-horizontal>
			<button ion-item ion-col *ngFor="let supplier of suppliersNearby" col-12 col-md-6
					(click)="openSupplierDetail(supplier)">
				<ion-thumbnail item-start>
					<img src="https://dienlanhhoanggia.com/getattachment/d5ec3649-e3f1-4c91-8c5f-e57cf512210f//trang-chu/logo/dien-may-viet-long.aspx?width=&height=">
				</ion-thumbnail>
				<h3 ion-text color="dark" class="fw500">{{supplier.Name}}</h3>
				<ion-badge class="white-bg text-secondary" item-end>
					<ion-icon name="star"></ion-icon>
					5
				</ion-badge>
				<h3>
					<ion-icon name="pin"></ion-icon> {{supplier.distance}} km
				</h3>
			</button>
		</ion-list>
	</ion-grid>
</ion-content>
