page-home {
	.list-ios>.item-block:first-child {
		border-top: 0;
	}

	.item-ios[detail-push] .item-inner,
	button.item-ios:not([detail-none]) .item-inner,
	a.item-ios:not([detail-none]) .item-inner {
		background-image: none;
		padding-right: 8px;
		border-bottom-style: dashed;
	}

	button.item-md:not([detail-none]) .item-inner {
		border-bottom-style: dashed;
	}

	.button-large-md,
	.button-large-ios {
		box-shadow: none;
		height: 12rem;
	}


	// Special custom

	.nearby-map {
		agm-map {
			width: 100%;
			height: 200px;
		}
	}

	.card-ios,
	.card-md {
		width: 100%;
		border-radius: 0;
		box-shadow: 0 0 1px rgba(color($colors, primary), .4);
	}

	.toolbar-ios-primary {
		.searchbar-ios {
			.searchbar-input {
				color: #fff;
				background: rgba(255, 255, 255, .2);
			}
		}
	}

	.footer {
		&.footer-ios {
			box-shadow: 0 0 1px rgba(color($colors, primary), .4);
			// padding-right: 8px !important;
			// padding-left: 8px !important;
		}

		.btn-group {

			.button-ios,
			.button-md {
				border-radius: 0;
				border-right: 1px solid rgba(color($colors, dark), .4);

				&:last-of-type {
					border-right: 0;
				}
			}
		}
	}

	.segment-button {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.segment-ios {
		.segment-button {
			height: 3.6rem;
		}
	}

	.segment-ios-light {
		.segment-button {
			&.segment-activated {
				color: color($colors, dark);
			}
		}
	}

	.card-background-page {

		ion-card {
			margin: 0;
			width: 100%;
			border-radius: 0;
			position: relative;
			text-align: center;
			border-bottom: 1px solid rgba(color($colors, primary), .65);

			&:after {
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				box-shadow: inset 0 0 28rem 0 rgba(255, 0, 0, .05);
			}

			&:last-of-type {
				border-bottom: 0;
			}
		}

		.card-title {
			position: absolute;
			top: 36%;
			font-size: 2.5rem;
			width: 100%;
			font-weight: bold;
			color: #fff;
			text-shadow: 2px 2px 0 rgba(0, 0, 0, .75);
		}

		.card-subtitle {
			font-size: 1.5rem;
			font-weight: 500;
			position: absolute;
			top: 52%;
			width: 100%;
			color: #fff;
			text-shadow: 1px 1px .5rem rgba(0, 0, 0, 1);
		}

	}

	.notification-button {
		position: relative;
		width: 42px;
		top: 1px;
		right: 1px;
		overflow: visible !important;
	}


	.notifications-badge {
		background-color: #ff9e21;
		position: absolute;
		top: -3px;
		right: -3px;
		border-radius: 25%;
	}

}
