<ion-header>
	<ion-navbar color="primary">
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>
			<span ion-text class="fw700">ACS</span><span ion-text class="fw300"> app</span>
		</ion-title>
		<ion-buttons end>
			<button ion-button (click)="presentNotifications($event)" id="notification-button">
				<ion-icon name="notifications"></ion-icon>
				<ion-badge color="dark" *ngIf="numberNotification() > 0" id="notifications-badge">
					{{numberNotification()}}
				</ion-badge>
			</button>
		</ion-buttons>
	</ion-navbar>

	<ion-toolbar color="primary">
		<ion-searchbar placeholder="Tìm kiếm dịch vụ" [(ngModel)]="searchKey" (click)="openSearchPage()"></ion-searchbar>
	</ion-toolbar>
</ion-header>

<ion-content>

	<ng-container *ngIf="listType">
		<div class="card-background-page" *ngFor="let type of listType">

			<ion-grid no-padding>
				<ion-row no-padding>
					<ion-col col-12 col-md-6>
						<ion-card tappable (click)="openListType(type)">
							<img [src]="type.Avatar" />
							<div class="card-title">
								{{type.Name}}
							</div>
							<!--<div class="card-subtitle">Number of Supplier</div>-->
						</ion-card>
					</ion-col>
				</ion-row>
			</ion-grid>

		</div>
	</ng-container>

</ion-content>
