<ion-header>
	<ion-navbar color="primary">
		<ion-title *ngIf="paramId">
			{{paramId.supName}}
		</ion-title>
		<ion-buttons end>
			<button ion-button (click)="openSupplierDetail()">
				<ion-icon name="information-circle"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>


<ion-content padding id="messagesContent">

	<div class="message-wrap">

		<div *ngFor="let post of posts | async">

			<div class="sender" *ngIf="post.isCustomer != true">
				<ion-grid>
					<ion-row>
						<ion-col col-2 text-left *ngIf="paramId">
							<ion-avatar item-start>
								<img src="{{ paramId.supAvatar }}">
							</ion-avatar>
						</ion-col>
						<ion-col col-10>
							<p>{{post.message}}</p>
						</ion-col>
					</ion-row>
				</ion-grid>
			</div>

			<div class="me" style="text-align: right !important;" *ngIf="post.isCustomer == true">
				<ion-grid>
					<ion-col col-12>
						<p>{{post.message}}</p>
					</ion-col>
				</ion-grid>
			</div>
		</div>
	</div>
</ion-content>

<ion-footer no-border style="padding: 0px !important;">
	<ion-toolbar>

		<!--<ion-buttons left>-->
			<!--<button style="color: #aaaaaa" (click)="sendMessage()" ion-button icon-only>-->
				<!--<ion-icon slot="icon-only" name="image"></ion-icon>-->
			<!--</button>-->
		<!--</ion-buttons>-->
		
		<ion-textarea [(ngModel)]="message" class="message-input" placeholder="Nhấn vào đây" rows="1"
					  autocapitalize="off" maxlength="500"
					  #messageInput></ion-textarea>
		<ion-buttons end>
			<button color="primary" (click)="sendMessage()" ion-button icon-only>
				<ion-icon slot="icon-only" name="send"></ion-icon>
			</button>
		</ion-buttons>

	</ion-toolbar>
</ion-footer>
